<div id="left">
    <%= image_tag "logo_ejjetour.png", :class => "pad"%>
    <h1 class="text1">Participe de nuestro Tour, conozca nuestros<br>
        productos y servicios y <span>gane premios.</span>
       </h1>
       
       <h4>Reglas del concurso </h4>
          <ul>
           <li>Concurso valido solo para clientes registrados previamente por nuestros asesores de venta.</li>
			       <li>El participante debe registrares previamente introduciendo sus datos al inicio</li>
				    <li>Se deben completar debidamente los pasos en cada una de las etapas</li>
			       <li>Promoción valida hasta el 31 de Marzo del 2013</li>
        </ul>        
</div>
<div id="right">

   

  <div class="Form-container" id="Form-container">
     <h2>
    PARTICIPE INGRESANDO LOS
    DATOS A CONTINUACIÓN:
    </h2>
      <%= render :partial => "contact_forms/form"%>
  </div>
  <div class="confirmation_form" id="confirmation_form">
    <span class="image">
      CONFIRMACIONNN!!
    </span>
  </div>
</div>